/* NavTheme */
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0.75rem;
  margin-top: 1rem;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;

    li {
      display: flex;
      align-items: center;

      a {
        width: 100%;
        padding: 0.75rem;
        color: #ffffff;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: 0s;

        &.active,
        &:hover {
          background: rgba(255, 255, 255, 0.8);
          font-weight: 600;
          color: #403937;
        }

        &:hover:not(.active),
        &:focus-visible:not(.active) {
          background: rgba(255, 255, 255, 0.6);
          color: #403937;
        }
      }
    }
  }
}
