.mainLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 1.25rem 0;
}

.title {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 1.1;
  color: #fbfaff;
  margin: 0;
  /* margin-bottom: 1rem; */
}

.description {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fbfaff;
}
